[Unit]
Description=Minecraft Server

[Service]
WorkingDirectory=/opt/minecraft/
ExecStart=/usr/bin/java -Xmx1024M -Xms1024M -jar server.jar
Restart=always

[Install]
WantedBy=multi-user.target
